/* styles.css */




root {
    --grid-size: 10;
}
body {
  /*background-color: rebeccapurple;*/

}

.dead:hover {
    transform: rotate(345deg);
}

.container {
    display: grid;
    grid-template-columns: 50px 1fr;
    grid-template-rows: 50px 1fr;
    gap: 2px;
    width: 100%;
    max-width: 600px;
    margin: 0;
    background-color: #ccc;
    /*border: 2px solid red;*/
}

.grid-board {
    display: grid;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    grid-template-columns: repeat(10, 1fr); /*space for left numbers*/
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    gap: 1px;
    background-color: #ccc;
    border: 2px solid #333;
}

.cell {
    background-color: white;
    aspect-ratio: 1 / 1; /*perfect square cells*/
    border: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    cursor: pointer;
}
.cell:hover {
    background-color: #f0f0f0;
}

.team-left {
    display: flex;
    flex-direction: column;
    /*border: 2px solid yellow;*/
    justify-content: space-evenly;
    align-items: center;
}

.team-top {
    display: flex;
    flex-direction: row;
    /*border: 2px solid yellow;*/
    justify-content: space-evenly;
    align-items: center;
}

.team-left h1 {
}

.number-cell {
    aspect-ratio: 1 / 1;
    /* border: 1px solid green; */
    display: flex;
    width: 50px;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

#afc-team {
    /*border: 3px solid blue;*/
    background-image: url("ne.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-color: rgba(255, 255, 255, 0.6);
    background-blend-mode: lighten;
}

#nfc-team {
    background-image: url("sea.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    /* transform: rotate(90deg); */
    background-color: rgba(255, 255, 255, 0.6);
    background-blend-mode: lighten;
}

.button-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 600px;
}

.save-button-area {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    background-color: #ccc;
    /* border: 2px solid blue; */
}
#save-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    margin-left: 10px;
    margin-right: 5px;    
    padding: 8px;
    border-radius: 50%;
    color: #ccc;
    font-size: 1.1rem;
    background: rgbs(255, 194, 209, 0.3);
    border: 2px solid(255, 255, 255, 0.18);
    cursor: pointer;
    transition: all 0.2s ease;
}
#save-button:hover {
    transform: scale(1.2);
    background: green;
}

.load-button-area {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    background-color: #ccc;
    /* border: 2px solid blue; */
}
#load-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    margin-left: 10px;
    margin-right: 5px;    
    padding: 8px;
    border-radius: 50%;
    color: #ccc;
    font-size: 1.1rem;
    background: rgbs(255, 194, 209, 0.3);
    border: 2px solid(255, 255, 255, 0.18);
    cursor: pointer;
    transition: all 0.2s ease;
}
#load-button:hover {
    transform: scale(1.2);
    background: blue;
}

.reset-button-area {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    background-color: #ccc;
    /* border: 2px solid blue; */
}
#reset-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    margin-left: 10px;
    margin-right: 5px;    
    padding: 8px;
    border-radius: 50%;
    color: #ccc;
    font-size: 1.1rem;
    background: rgbs(255, 194, 209, 0.3);
    border: 2px solid(255, 255, 255, 0.18);
    cursor: pointer;
    transition: all 0.2s ease;
}
#reset-button:hover {
    transform: rotate(180deg) scale(1.2);
    background: red;
}

#save-afc-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    margin-left: 10px;
    margin-right: 5px;    
    padding: 8px;
    border-radius: 50%;
    color: #ccc;
    font-size: 1.1rem;
    background: rgbs(255, 194, 209, 0.3);
    border: 2px solid(255, 255, 255, 0.18);
    cursor: pointer;
    transition: all 0.2s ease;
}
#save-afc-button:hover {
    transform: rotate(180deg) scale(1.3);
    background: green;
}

#load-afc-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    margin-left: 10px;
    margin-right: 5px;    
    padding: 8px;
    border-radius: 50%;
    color: #ccc;
    font-size: 1.1rem;
    background: rgbs(255, 194, 209, 0.3);
    border: 2px solid(255, 255, 255, 0.18);
    cursor: pointer;
    transition: all 0.2s ease;
}
#load-afc-button:hover {
    transform: rotate(180deg) scale(1.3);
    background: blue;
}

#save-nfc-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    margin-left: 10px;
    margin-right: 5px;    
    padding: 8px;
    border-radius: 50%;
    color: #ccc;
    font-size: 1.1rem;
    background: rgbs(255, 194, 209, 0.3);
    border: 2px solid(255, 255, 255, 0.18);
    cursor: pointer;
    transition: all 0.2s ease;
}
#save-nfc-button:hover {
    transform: rotate(180deg) scale(1.3);
    background: green;
}

#load-nfc-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    margin-left: 10px;
    margin-right: 5px;
    padding: 8px;
    border-radius: 50%;
    color: #ccc;
    font-size: 1.1rem;
    background: rgbs(255, 194, 209, 0.3);
    border: 2px solid(255, 255, 255, 0.18);
    cursor: pointer;
    transition: all 0.2s ease;
}
#load-nfc-button:hover {
    transform: rotate(180deg) scale(1.3);
    background: blue;
}

.no-button-area {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    background-color: #ccc;
    /* border: 2px solid blue; */
}
#no-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    margin-left: 10px;
    margin-right: 5px;    
    padding: 8px;
    border-radius: 10px;
    color: #ccc;
    font-size: 1.1rem;
    background: rgbs(255, 194, 209, 0.3);
    border: 2px solid(255, 255, 255, 0.18);
    cursor: pointer;
    transition: all 0.2s ease;
}
#no-button:hover {
    transform: scale(1.1);
    background: blue;
}