/* styles.css */
root {
    --grid-size: 10;
}
body {
  /*background-color: rebeccapurple;*/

}

.container {
    display: grid;
    grid-template-columns: 50px 1fr;
    grid-template-rows: 50px 1fr;
    gap: 2px;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    background-color: #ddd;
    /*border: 2px solid red;*/
}

.grid-board {
    display: grid;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    grid-template-columns: repeat(10, 1fr); /*space for left numbers*/
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    gap: 1px;
    background-color: #ccc;
    border: 2px solid #333;
}

.cell {
    background-color: white;
    aspect-ratio: 1 / 1; /*perfect square cells*/
    border: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    cursor: pointer;
}
.cell:hover {
    background-color: #f0f0f0;
}

.team-left {
    display: flex;
    flex-direction: column;
    /*border: 2px solid yellow;*/
    justify-content: space-evenly;
    align-items: center;
}

.team-top {
    display: flex;
    flex-direction: row;
    /*border: 2px solid yellow;*/
    justify-content: space-evenly;
    align-items: center;
}

.team-left h1 {
}

.number-cell {
    aspect-ratio: 1 / 1;
    /* border: 1px solid green; */
    display: flex;
    width: 50px;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

#afc-team {
    /*border: 3px solid blue;*/
    background-image: url("ne.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-color: rgba(255, 255, 255, 0.6);
    background-blend-mode: lighten;
}

#nfc-team {
    background-image: url("sea.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    /* transform: rotate(90deg); */
    background-color: rgba(255, 255, 255, 0.6);
    background-blend-mode: lighten;
}